@font-face {
    font-family: brock;
    src: url(/font/brock/BrockScript.ttf);
}

body{
    background: #0a4d689f;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    padding: 20px 40px;
    text-transform: capitalize;
    color: #194050;
    font-family: brock;
    font-size: 40px;
    pointer-events: none;
    margin-right: 300px;
}

.navigation a {
    text-decoration: none;
    color: #203b46;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.navigation a:hover {
    background-color: #FEFF86;
    color: #0B2447;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    transition: all 0.2s ease-in;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 8rem;
}

.column {
    flex: 25%;
    max-width: 23.5%;
    padding: 0 8px;
}

.column img {
    border: 5px solid white;
    border-style: inset;
    border-radius: 25px;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.column img:hover{
    transition: all .5s ease-in-out;
    position: relative;
    margin: 2rem 0;
    overflow: hidden;
    border-radius: 50%;
    transform: scale(1.1);
    border: 5px solid #fff;
    border-style: outset;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}